.map-container {
    height: 100%;
    width: 100%;
}

.waypoint-icon {
    background-color: #282c34;
    border-radius: 40px;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}

.waypoint-icon:hover {
    background-color: #c3e452;
    color: #282c34;
}